In [1]:
'''
参考：
+ [ant-learn-pandas](https://github.com/peiss/ant-learn-pandas) 跑了前12讲，将 Pandas 理解成数据库就行了，所以后面表连接的操作之后就没看，用到的时候再来查
'''

'\n参考：\n+ 非常全面的Pandas入门教程[https://blog.csdn.net/weixin_44489066/article/details/89494395]\n'

In [7]:
import pandas as pd
import numpy as np

In [8]:
s1 = pd.Series([1,'a',5.2,7])

In [9]:
# 左侧为索引，右侧是数据
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [10]:
# 获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
# 获取数据
s1.values

array([1, 'a', 5.2, 7], dtype=object)

In [12]:
s2 = pd.Series([1, 'a', 5.2, 7], index=['d','b','a','c'])

In [13]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [14]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [15]:
sdata={'Ohio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}

In [16]:
s3=pd.Series(sdata)

In [17]:
s3

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

In [18]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [19]:
s2['a']

5.2

In [20]:
type(s2['a'])

float

In [23]:
s2[['b','a']]

b      a
a    5.2
dtype: object

In [24]:
type(s2[['b','a']])

pandas.core.series.Series

In [25]:
data={
        'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
    }
df = pd.DataFrame(data)

In [26]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [27]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [28]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [29]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [31]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [32]:
type(df['year'])

pandas.core.series.Series

In [33]:
df[['year', 'pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [34]:
type(df[['year', 'pop']])

pandas.core.frame.DataFrame

In [35]:
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [36]:
type(df.loc[1])

pandas.core.series.Series

In [37]:
df.loc[1:3]

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [38]:
type(df.loc[1:3])

pandas.core.frame.DataFrame

In [66]:
df = pd.read_csv("https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [67]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [68]:
# 设定索引为日期，方便按日期筛选
df.set_index('ymd', inplace=True)

In [69]:
# 时间序列见后续课程，本次按字符串处理
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

In [70]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [74]:
df["bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')

In [77]:
df["yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

In [78]:
df.dtypes

bWendu        int32
yWendu        int32
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

In [79]:
df.head()

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

In [80]:
# 得到单个值
df.loc['2018-01-03', 'bWendu']

2

In [81]:
# 得到一个Series
df.loc['2018-01-03', ['bWendu', 'yWendu']]

bWendu     2
yWendu    -5
Name: 2018-01-03, dtype: object

In [82]:
# 得到Series
df.loc[['2018-01-03','2018-01-04','2018-01-05'], 'bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

In [83]:
# 得到DataFrame
df.loc[['2018-01-03','2018-01-04','2018-01-05'], ['bWendu', 'yWendu']]

            bWendu  yWendu
ymd
2018-01-03       2      -5
2018-01-04       0      -8
2018-01-05       3      -6

In [84]:
# 行index按区间
df.loc['2018-01-03':'2018-01-05', 'bWendu']

ymd
2018-01-03    2
2018-01-04    0
2018-01-05    3
Name: bWendu, dtype: int32

In [85]:
# 列index按区间
df.loc['2018-01-03', 'bWendu':'fengxiang']

bWendu        2
yWendu       -5
tianqi       多云
fengxiang    北风
Name: 2018-01-03, dtype: object

In [86]:
# 行和列都按区间查询
df.loc['2018-01-03':'2018-01-05', 'bWendu':'fengxiang']

            bWendu  yWendu tianqi fengxiang
ymd
2018-01-03       2      -5     多云        北风
2018-01-04       0      -8      阴       东北风
2018-01-05       3      -6   多云~晴       西北风

In [87]:
df.loc[df["yWendu"]<-10, :]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-23      -4     -12      晴       西北风   3-4级   31       优         1
2018-01-24      -4     -11      晴       西南风   1-2级   34       优         1
2018-01-25      -3     -11     多云       东北风   1-2级   27       优         1
2018-12-26      -2     -11   晴~多云       东北风     2级   26       优         1
2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
2018-12-28      -3     -11      晴       西北风     3级   40       优         1
2018-12-29      -3     -12      晴       西北风     2级   29       优         1
2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1

In [88]:
# 查询最高温度小于30度，并且最低温度大于15度，并且是晴天，并且天气为优的数据
df.loc[(df["bWendu"]<=30) & (df["yWendu"]>=15) & (df["tianqi"]=='晴') & (df["aqiLevel"]==1), :]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-08-24      30      20      晴        北风   1-2级   40       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1

In [89]:
df = pd.read_csv("https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [90]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [91]:
df["bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df["yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

In [92]:
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

In [93]:
# 注意，df["bWendu"]其实是一个Series，后面的减法返回的是Series
df["wencha"] = df["bWendu"] - df["yWendu"]

In [94]:
df.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9

In [98]:
def get_wendu_type(x):
    if x["bWendu"] > 33:
        return '高温'
    if x["yWendu"] < -10:
        return '低温'
    return '常温'

# 注意需要设置axis==1，这是series的index是columns
df["wendu_type"] = df.apply(get_wendu_type, axis=1)
df.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温

In [99]:
# 查看温度类型的计数
df["wendu_type"].value_counts()

常温    328
高温     29
低温      8
Name: wendu_type, dtype: int64

In [100]:
# 可以同时添加多个新的列
df.assign(
    yWendu_huashi = lambda x : x["yWendu"] * 9 / 5 + 32,
    # 摄氏度转华氏度
    bWendu_huashi = lambda x : x["bWendu"] * 9 / 5 + 32
)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type,yWendu_huashi,bWendu_huashi
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温,21.2,37.4
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温,23.0,35.6
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温,23.0,35.6
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温,17.6,32.0
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温,21.2,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温,10.4,23.0
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温,12.2,26.6
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温,10.4,26.6
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温,12.2,28.4
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,常温,14.0,28.4

In [101]:
# 先创建空列（这是第一种创建新列的方法）
df['wencha_type'] = ''

df.loc[df["bWendu"]-df["yWendu"]>10, "wencha_type"] = "温差大"

df.loc[df["bWendu"]-df["yWendu"]<=10, "wencha_type"] = "温差正常"

In [102]:
df["wencha_type"].value_counts()

温差正常    187
温差大     178
Name: wencha_type, dtype: int64

In [103]:
df.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wendu_type,wencha_type
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,常温,温差正常
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,常温,温差正常
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,常温,温差正常
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,常温,温差正常
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,常温,温差正常

In [104]:
df = pd.read_csv("https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [105]:
df.head(3)

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1

In [106]:
# 替换掉温度的后缀℃
df.loc[:, "bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df.loc[:, "yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

In [107]:
df.head(3)

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1

In [108]:
# 一下子提取所有数字列统计结果
df.describe()
'''
count：总共有条记录
mean：平均值
std：方差
min：最小值
25%: 5%分位数 就是成绩从低到高排序，在第百分之25
50%：等于中位数
75%：跟25的解释一样。
max：就是最大值
'''

           bWendu      yWendu         aqi    aqiLevel
count  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411
std     11.858046   11.755053   51.936159    1.029798
min     -5.000000  -12.000000   21.000000    1.000000
25%      8.000000   -3.000000   46.000000    1.000000
50%     21.000000    8.000000   69.000000    2.000000
75%     29.000000   19.000000  104.000000    3.000000
max     38.000000   27.000000  387.000000    6.000000

In [109]:
## 查看单个Series的数据
df["bWendu"].mean()

18.665753424657535

In [110]:
df["fengxiang"].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [111]:
df["tianqi"].unique()

array(['晴~多云', '阴~多云', '多云', '阴', '多云~晴', '多云~阴', '晴', '阴~小雪', '小雪~多云',
       '小雨~阴', '小雨~雨夹雪', '多云~小雨', '小雨~多云', '大雨~小雨', '小雨', '阴~小雨',
       '多云~雷阵雨', '雷阵雨~多云', '阴~雷阵雨', '雷阵雨', '雷阵雨~大雨', '中雨~雷阵雨', '小雨~大雨',
       '暴雨~雷阵雨', '雷阵雨~中雨', '小雨~雷阵雨', '雷阵雨~阴', '中雨~小雨', '小雨~中雨', '雾~多云',
       '霾'], dtype=object)

In [112]:
df["fengli"].unique()

array(['1-2级', '4-5级', '3-4级', '2级', '1级', '3级'], dtype=object)

In [113]:
df["fengxiang"].value_counts()

南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: fengxiang, dtype: int64

In [114]:
# 协方差矩阵：
df.cov()

              bWendu      yWendu          aqi   aqiLevel
bWendu    140.613247  135.529633    47.462622   0.879204
yWendu    135.529633  138.181274    16.186685   0.264165
aqi        47.462622   16.186685  2697.364564  50.749842
aqiLevel    0.879204    0.264165    50.749842   1.060485

In [115]:
# 相关系数矩阵
df.corr()

            bWendu    yWendu       aqi  aqiLevel
bWendu    1.000000  0.972292  0.077067  0.071999
yWendu    0.972292  1.000000  0.026513  0.021822
aqi       0.077067  0.026513  1.000000  0.948883
aqiLevel  0.071999  0.021822  0.948883  1.000000

In [116]:
# 单独查看空气质量和最高温度的相关系数
df["aqi"].corr(df["bWendu"])

0.07706705916811069

In [128]:
studf = pd.read_excel("https://github.com/peiss/ant-learn-pandas/blob/master/datas/student_excel/student_excel.xlsx?raw=true", skiprows=2,engine='openpyxl')

In [129]:
studf

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [130]:
studf.isnull()

    Unnamed: 0     姓名     科目     分数
0         True  False  False  False
1         True   True  False  False
2         True   True  False  False
3         True   True   True   True
4         True  False  False  False
5         True   True  False   True
6         True   True  False  False
7         True   True   True   True
8         True  False  False  False
9         True   True  False  False
10        True   True  False  False

In [131]:
studf["分数"].isnull()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
Name: 分数, dtype: bool

In [132]:
studf["分数"].notnull()

0      True
1      True
2      True
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10     True
Name: 分数, dtype: bool

In [133]:
# 筛选没有空分数的所有行
studf.loc[studf["分数"].notnull(), :]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [134]:
studf.dropna(axis="columns", how='all', inplace=True)

In [135]:
studf

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [136]:
studf.dropna(axis="index", how='all', inplace=True)

In [137]:
studf

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   NaN
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [138]:
studf.fillna({"分数":0})

     姓名  科目    分数
0    小明  语文  85.0
1   NaN  数学  80.0
2   NaN  英语  90.0
4    小王  语文  85.0
5   NaN  数学   0.0
6   NaN  英语  90.0
8    小刚  语文  85.0
9   NaN  数学  80.0
10  NaN  英语  90.0

In [139]:
studf.to_excel("student_excel_clean.xlsx", index=False)

In [140]:
df = pd.read_csv("https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [141]:
# 替换掉温度的后缀℃
df.loc[:, "bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df.loc[:, "yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

In [142]:
df.head()

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3  2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4  2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

In [143]:
# 只选出3月份的数据用于分析
condition = df["ymd"].str.startswith("2018-03")

In [144]:
# 设置温差
df[condition]["wen_cha"] = df["bWendu"]-df["yWendu"]

E:\Anaconda3\envs\CourseraMLAndrewNgmyNoteEnv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [145]:
# 查看是否修改成功
df[condition].head()
# 结果是有的成功有的没成功

           ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
59  2018-03-01       8      -3     多云       西南风   1-2级   46       优         1
60  2018-03-02       9      -1   晴~多云        北风   1-2级   95       良         2
61  2018-03-03      13       3   多云~阴        北风   1-2级  214    重度污染         5
62  2018-03-04       7      -2   阴~多云       东南风   1-2级  144    轻度污染         3
63  2018-03-05       8      -3      晴        南风   1-2级   94       良         2

In [146]:
# 只用看解决方法1就行了
df.loc[condition, "wen_cha"] = df["bWendu"]-df["yWendu"]

In [147]:
df[condition].head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
59,2018-03-01,8,-3,多云,西南风,1-2级,46,优,1,11.0
60,2018-03-02,9,-1,晴~多云,北风,1-2级,95,良,2,10.0
61,2018-03-03,13,3,多云~阴,北风,1-2级,214,重度污染,5,10.0
62,2018-03-04,7,-2,阴~多云,东南风,1-2级,144,轻度污染,3,9.0
63,2018-03-05,8,-3,晴,南风,1-2级,94,良,2,11.0

In [148]:
df["aqi"].sort_values()

271     21
281     21
249     22
272     22
301     22
      ...
317    266
71     287
91     287
72     293
86     387
Name: aqi, Length: 365, dtype: int64

In [149]:
df["aqi"].sort_values(ascending=False)

86     387
72     293
91     287
71     287
317    266
      ...
301     22
272     22
249     22
281     21
271     21
Name: aqi, Length: 365, dtype: int64

In [150]:
df["tianqi"].sort_values()

225     中雨~小雨
230     中雨~小雨
197    中雨~雷阵雨
196    中雨~雷阵雨
112        多云
        ...
191    雷阵雨~大雨
219     雷阵雨~阴
335      雾~多云
353         霾
348         霾
Name: tianqi, Length: 365, dtype: object

In [151]:
df.sort_values(by="aqi")

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
271,2018-09-29,22,11,晴,北风,3-4级,21,优,1,NaN
281,2018-10-09,15,4,多云~晴,西北风,4-5级,21,优,1,NaN
249,2018-09-07,27,16,晴,西北风,3-4级,22,优,1,NaN
272,2018-09-30,19,13,多云,西北风,4-5级,22,优,1,NaN
301,2018-10-29,15,3,晴,北风,3-4级,22,优,1,NaN
...,...,...,...,...,...,...,...,...,...,...
317,2018-11-14,13,5,多云,南风,1-2级,266,重度污染,5,NaN
71,2018-03-13,17,5,晴~多云,南风,1-2级,287,重度污染,5,12.0
91,2018-04-02,26,11,多云,北风,1-2级,287,重度污染,5,NaN
72,2018-03-14,15,6,多云~阴,东北风,1-2级,293,重度污染,5,9.0
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6,16.0

In [152]:
df.sort_values(by="aqi", ascending=False)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6,16.0
72,2018-03-14,15,6,多云~阴,东北风,1-2级,293,重度污染,5,9.0
71,2018-03-13,17,5,晴~多云,南风,1-2级,287,重度污染,5,12.0
91,2018-04-02,26,11,多云,北风,1-2级,287,重度污染,5,NaN
317,2018-11-14,13,5,多云,南风,1-2级,266,重度污染,5,NaN
...,...,...,...,...,...,...,...,...,...,...
249,2018-09-07,27,16,晴,西北风,3-4级,22,优,1,NaN
301,2018-10-29,15,3,晴,北风,3-4级,22,优,1,NaN
272,2018-09-30,19,13,多云,西北风,4-5级,22,优,1,NaN
271,2018-09-29,22,11,晴,北风,3-4级,21,优,1,NaN
281,2018-10-09,15,4,多云~晴,西北风,4-5级,21,优,1,NaN

In [153]:
# 按空气质量等级、最高温度排序，默认升序
df.sort_values(by=["aqiLevel", "bWendu"])

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,NaN
22,2018-01-23,-4,-12,晴,西北风,3-4级,31,优,1,NaN
23,2018-01-24,-4,-11,晴,西南风,1-2级,34,优,1,NaN
340,2018-12-07,-4,-10,晴,西北风,3级,33,优,1,NaN
21,2018-01-22,-3,-10,小雪~多云,东风,1-2级,47,优,1,NaN
...,...,...,...,...,...,...,...,...,...,...
71,2018-03-13,17,5,晴~多云,南风,1-2级,287,重度污染,5,12.0
90,2018-04-01,25,11,晴~多云,南风,1-2级,218,重度污染,5,NaN
91,2018-04-02,26,11,多云,北风,1-2级,287,重度污染,5,NaN
85,2018-03-27,27,11,晴,南风,1-2级,243,重度污染,5,16.0
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6,16.0

In [154]:
# 两个字段都是降序
df.sort_values(by=["aqiLevel", "bWendu"], ascending=False)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6,16.0
85,2018-03-27,27,11,晴,南风,1-2级,243,重度污染,5,16.0
91,2018-04-02,26,11,多云,北风,1-2级,287,重度污染,5,NaN
90,2018-04-01,25,11,晴~多云,南风,1-2级,218,重度污染,5,NaN
71,2018-03-13,17,5,晴~多云,南风,1-2级,287,重度污染,5,12.0
...,...,...,...,...,...,...,...,...,...,...
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,NaN
22,2018-01-23,-4,-12,晴,西北风,3-4级,31,优,1,NaN
23,2018-01-24,-4,-11,晴,西南风,1-2级,34,优,1,NaN
340,2018-12-07,-4,-10,晴,西北风,3级,33,优,1,NaN
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,NaN

In [155]:
# 分别指定升序和降序
df.sort_values(by=["aqiLevel", "bWendu"], ascending=[True, False])

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wen_cha
178,2018-06-28,35,24,多云~晴,北风,1-2级,33,优,1,NaN
149,2018-05-30,33,18,晴,西风,1-2级,46,优,1,NaN
206,2018-07-26,33,25,多云~雷阵雨,东北风,1-2级,40,优,1,NaN
158,2018-06-08,32,19,多云~雷阵雨,西南风,1-2级,43,优,1,NaN
205,2018-07-25,32,25,多云,北风,1-2级,28,优,1,NaN
...,...,...,...,...,...,...,...,...,...,...
317,2018-11-14,13,5,多云,南风,1-2级,266,重度污染,5,NaN
329,2018-11-26,10,0,多云,东南风,1级,245,重度污染,5,NaN
335,2018-12-02,9,2,雾~多云,东北风,1级,234,重度污染,5,NaN
57,2018-02-27,7,0,阴,东风,1-2级,220,重度污染,5,NaN
86,2018-03-28,25,9,多云~晴,东风,1-2级,387,严重污染,6,16.0

In [159]:
df = pd.read_csv("https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [160]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [161]:
df.dtypes

ymd          object
bWendu       object
yWendu       object
tianqi       object
fengxiang    object
fengli       object
aqi           int64
aqiInfo      object
aqiLevel      int64
dtype: object

In [162]:
df["bWendu"].str

In [163]:
# 字符串替换函数
df["bWendu"].str.replace("℃", "")

0       3
1       2
2       2
3       0
4       3
       ..
360    -5
361    -3
362    -3
363    -2
364    -2
Name: bWendu, Length: 365, dtype: object

In [164]:
# 判断是不是数字
df["bWendu"].str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: bWendu, Length: 365, dtype: bool

In [165]:
df["aqi"].str.len()

AttributeError: Can only use .str accessor with string values!

In [166]:
condition = df["ymd"].str.startswith("2018-03")

In [167]:
condition

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: ymd, Length: 365, dtype: bool

In [168]:
df[condition].head()

           ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
59  2018-03-01     8℃    -3℃     多云       西南风   1-2级   46       优         1
60  2018-03-02     9℃    -1℃   晴~多云        北风   1-2级   95       良         2
61  2018-03-03    13℃     3℃   多云~阴        北风   1-2级  214    重度污染         5
62  2018-03-04     7℃    -2℃   阴~多云       东南风   1-2级  144    轻度污染         3
63  2018-03-05     8℃    -3℃      晴        南风   1-2级   94       良         2

In [169]:
df["ymd"].str.replace("-", "")

0      20180101
1      20180102
2      20180103
3      20180104
4      20180105
         ...
360    20181227
361    20181228
362    20181229
363    20181230
364    20181231
Name: ymd, Length: 365, dtype: object

In [170]:
# 每次调用函数，都返回一个新Series
df["ymd"].str.replace("-", "").slice(0, 6)

AttributeError: 'Series' object has no attribute 'slice'

In [171]:
df["ymd"].str.replace("-", "").str.slice(0, 6)

0      201801
1      201801
2      201801
3      201801
4      201801
        ...
360    201812
361    201812
362    201812
363    201812
364    201812
Name: ymd, Length: 365, dtype: object

In [172]:
# slice就是切片语法，可以直接用
df["ymd"].str.replace("-", "").str[0:6]

0      201801
1      201801
2      201801
3      201801
4      201801
        ...
360    201812
361    201812
362    201812
363    201812
364    201812
Name: ymd, Length: 365, dtype: object

In [173]:
# 添加新列
def get_nianyueri(x):
    year,month,day = x["ymd"].split("-")
    return f"{year}年{month}月{day}日"
df["中文日期"] = df.apply(get_nianyueri, axis=1)

In [174]:
df["中文日期"]

0      2018年01月01日
1      2018年01月02日
2      2018年01月03日
3      2018年01月04日
4      2018年01月05日
          ...
360    2018年12月27日
361    2018年12月28日
362    2018年12月29日
363    2018年12月30日
364    2018年12月31日
Name: 中文日期, Length: 365, dtype: object

In [175]:
# 方法1：链式replace
df["中文日期"].str.replace("年", "").str.replace("月","").str.replace("日", "")

0      20180101
1      20180102
2      20180103
3      20180104
4      20180105
         ...
360    20181227
361    20181228
362    20181229
363    20181230
364    20181231
Name: 中文日期, Length: 365, dtype: object

In [176]:
# 方法2：正则表达式替换
df["中文日期"].str.replace("[年月日]", "")

0      20180101
1      20180102
2      20180103
3      20180104
4      20180105
         ...
360    20181227
361    20181228
362    20181229
363    20181230
364    20181231
Name: 中文日期, Length: 365, dtype: object

In [181]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A', 'B', 'C', 'D']
)
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [182]:
# 代表的就是删除某列
df.drop("A", axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [183]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [184]:
# 代表的就是删除某行
df.drop(1, axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

In [185]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [188]:
# axis=0 or axis=index
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [189]:
# axis=1 or axis=columns
df.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

In [193]:
def get_sum_value(x):
    return x["A"] + x["B"] + x["C"] + x["D"]
df["sum_value"] = df.apply(get_sum_value, axis=1)

In [194]:
df

   A  B   C   D  sum_value
0  0  1   2   3          6
1  4  5   6   7         22
2  8  9  10  11         38

In [195]:
df = pd.read_csv("https://raw.githubusercontent.com/peiss/ant-learn-pandas/master/datas/ml-latest-small/ratings.csv")

In [196]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [198]:
df.count(axis=0)

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

In [199]:
# drop==False，让索引列还保持在column
df.set_index("userId", inplace=True, drop=False)

In [200]:
df.head()

        userId  movieId  rating  timestamp
userId
1            1        1     4.0  964982703
1            1        3     4.0  964981247
1            1        6     4.0  964982224
1            1       47     5.0  964983815
1            1       50     5.0  964982931

In [201]:
df.index

Int64Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
            ...
            610, 610, 610, 610, 610, 610, 610, 610, 610, 610],
           dtype='int64', name='userId', length=100836)

In [202]:
# 使用index的查询方法
df.loc[500].head(5)

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

In [203]:
# 使用column的condition查询方法
df.loc[df["userId"] == 500].head()

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

In [205]:
# 将数据随机打散
from sklearn.utils import shuffle
df_shuffle = shuffle(df)

In [206]:
df_shuffle.head()

        userId  movieId  rating   timestamp
userId
249        249     6586     3.0  1346755017
96          96     1079     5.0   964773877
59          59      904     5.0   953610229
601        601   141846     4.0  1441639208
448        448     2683     4.5  1092562805

In [207]:
# 索引是否是递增的
df_shuffle.index.is_monotonic_increasing

False

In [208]:
df_shuffle.index.is_unique

False

In [209]:
# 计时，查询id==500数据性能
%timeit df_shuffle.loc[500]

491 µs ± 37.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [210]:
df_sorted = df_shuffle.sort_index()

In [211]:
df_sorted.head()

        userId  movieId  rating  timestamp
userId
1            1     3448     5.0  964984054
1            1     1198     5.0  964981827
1            1     1031     5.0  964982653
1            1     3062     4.0  964981872
1            1      163     5.0  964983650

In [212]:
# 索引是否是递增的
df_sorted.index.is_monotonic_increasing

True

In [213]:
df_sorted.index.is_unique

False

In [214]:
%timeit df_sorted.loc[500]

76 µs ± 2.89 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)